</main>
<footer class="main-footer section-has-bg-img background-color-purple text-color-white section-has-border">
  <img src="images/footer-bg.svg" alt="" class="bg-img d-none d-md-block">
  <img src="images/footer-bg-sm.svg" alt="" class="bg-img d-block d-md-none">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="logo-block mb-30">
          <div class="footer-logo extra-pd-sm">
            <a href="#"><img src="images/footer-logo.svg" alt=""></a>
          </div>
        </div>

        <div class="footer-main-content extra-pd-sm">
          <div class="row">
            <div class="col-xl-4 col-md-5 d-none d-md-block">
              <div class="single-column">
                <p>Pingday AB<br />
                  Org 559266-1069</p>

                <p>Box 642, 251 06 Helsingborg</p>

                <p>Besöksadress: Västra Sandgatan 2 </p>

                <p>Telefonnummer kundsupport: <a href="#">010 – 179 5000</a></p>
              </div>
            </div>

            <div class="col-xl-8 col-md-7">
              <div class="row row-gap-50">
                <div class="col-xl-3 col-md-6">
                  <div class="single-column">
                    <div class="single-block">
                      <ul>
                        <li><a href="#">Om oss</a>
                          <ul>
                            <li><a href="#">Medarbetare</a></li>
                            <li><a href="#">Sammarbeten</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-md-6">
                  <div class="single-column">
                    <div class="single-block">
                      <ul>
                        <li><a href="#">Support</a>
                          <ul>
                            <li><a href="#">Privat</a></li>
                            <li><a href="#">Företag</a></li>
                            <li><a href="#">Brf</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-md-6">
                  <div class="single-column">
                    <div class="single-block">
                      <ul>
                        <li><a href="#">Resurser</a>
                          <ul>
                            <li><a href="#">Jämför</a></li>
                            <li><a href="#">Bredbandshandboken</a></li>
                            <li><a href="#">Hållbarhetsrapporter</a></li>
                            <li><a href="#">Så funkar det</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-md-6">
                  <div class="single-column">
                    <div class="single-block">
                      <ul>
                        <li><a href="#">Avbrott</a></li>
                        <li><a href="#">IoT Smart stad</a></li>
                      </ul>
                      <br />
                      <p><strong>Följ oss!</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-img-block extra-pd-sm">
          <img src="images/footer-img.svg" alt="" class="w-100">
        </div>

        <div class="footer-bottom-text text-center text-color-orange mt-25 font-16 extra-pd-sm">
          <p>© pingday 2025 lorem ipsum</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="fixed-faq-block">
  <div class="top-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4>Varför ska jag välja stadsnätet?</h4>
          <div class="icons-block"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="single-faq">
            <div class="question">Fritt val, på riktigt</div>
            <div class="answer custom-text-container">
              <p>Välj bland flera leverantörer av internet, TV och telefoni utan att vara bunden.</p>
            </div>
          </div>

          <div class="single-faq">
            <div class="question">Fritt val, på riktigt</div>
            <div class="answer custom-text-container">
              <p>Välj bland flera leverantörer av internet, TV och telefoni utan att vara bunden.</p>
            </div>
          </div>

          <div class="single-faq">
            <div class="question">Fritt val, på riktigt</div>
            <div class="answer custom-text-container">
              <p>Välj bland flera leverantörer av internet, TV och telefoni utan att vara bunden.</p>
            </div>
          </div>

          <div class="text-container custom-text-container mt-25">
            <p>Se filmerna i vår <a href="#">Bredbandshandbok</a> för mer info om stadsnät och hemmanätverk.</p>
          </div>

          <div class="btn-wrapper mt-25">
            <a href="#" class="theme-btn">Kontakta oss</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="js/scripts/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.js"></script>
<script src="js/app.min.js"></script>
<script>
  AOS.init({
    easing: 'ease-out-back',
    // mirror: 'true'
    once: 'true'
  });
</script>

</body>

</html>