<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@@title</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="@@webRoot/css/main.min.css">
</head>

<body class="@@bodyClass">

    <div class="page-bg-img">
        <img src="images/@@imgurl.svg" alt="">
    </div>

    <header class="main-header @@headerClass">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col col-main-menu">
                    <nav class="navbar navbar-expand-xl main-nav">
                        <div class="collapse navbar-collapse" id="navbar">
                            <div class="menu-content">
                                <div class="menu-wrapper">
                                    <ul class="nav navbar-nav">


                                        <li class="nav-item current-menu-item">
                                            <a title="" href="index.html" class="nav-link">Hem</a>
                                        </li>

                                        <li class=" menu-item-has-children dropdown nav-item">
                                            <a title="" href="om-oss.html" class="nav-link">Om oss</a>
                                            <span class="submenu-opener"></span>
                                            <div class="dropdown-menu depth_0" role="menu">
                                                <div class="mega-menu-container">
                                                    <ul>
                                                        <li class="nav-item"><a href="#.html"
                                                                class="dropdown-item">Om Pingday</a></li>
                                                      
                                                        <li class="nav-item"><a href="#.html"
                                                                class="dropdown-item">Samarbeten</a></li>
                                                        <li class="nav-item"><a href="#.html"
                                                                class="dropdown-item">Våra medarbetare</a>
                                                        </li>
                                                        <li class="nav-item"><a href="#.html"
                                                                class="dropdown-item">Jobba hos oss</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="nav-item">
                                            <a title="" href="artiklar.html" class="nav-link">Avbrott</a>
                                        </li>
                                        <li class="menu-item-has-children dropdown nav-item">
                                            <a title="" href="nyheter.html" class="nav-link">Support</a>
                                        </li>

                                        <li class="menu-item-has-children dropdown nav-item">
                                            <a title="" href="nyheter.html" class="nav-link">Resurser</a>
                                        </li>

                                        <li class="nav-item">
                                            <a title="" href="nyheter.html" class="nav-link">IoT Smart stad</a>
                                        </li>


                                    </ul>



                                </div>

                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col col-logo">
                    <div class="logo-block">
                        <div class="brandLogo">
                            <!-- Brand -->
                            <a href="index.html">
                                <img src="images/logo.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col col-right-block">
                    <div class="right-header">
                        <nav class="navbar navbar-expand-xl main-nav">
                            <div class="d-flex">
                                <div class="menu-content">
                                    <div class="menu-wrapper">
                                        <ul class="nav navbar-nav">
                                            <li class="nav-item active">
                                                <a title="" href="#.html" class="nav-link">Privat</a>
                                            </li>
                                            <li class="nav-item">
                                                <a title="" href="#.html" class="nav-link">Företag</a>
                                            </li>
                                            <li class="nav-item">
                                                <a title="" href="#.html" class="nav-link">Brf</a>
                                            </li>

                                            <li class="nav-item">
                                                <a title="" href="#.html"
                                                    class="nav-link theme-btn has-no-round-icon">Beställ internet</a>
                                            </li>

                                        </ul>



                                    </div>

                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="col col-hamburger d-block d-xl-none">
                    <div class="toggle-wrapper">
                        <div class="navbar-toggler navbar-toggle-btn nav-open">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>